@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Gamified</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="icon" type="image/svg" media="(prefers-color-scheme:light)" href="/favicon_light.ico" />
    <link rel="icon" type="image/svg" media="(prefers-color-scheme:dark)" href="/favicon_dark.ico" />

    <script src="https://unpkg.com/favicon-switcher@1.2.2/dist/index.js" crossorigin="anonymous" type="application/javascript"></script>
</head>
<body>
    <style>
        body {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            text-decoration-line: none;
        }
    </style>

    <header class="header">
        <div class="header__container">
            <!--<img src="assets/img/perfil.jpg" alt="" class="header__img">-->

            <a href="#" class="header__logo">Github Gamified</a>

            <div class="header__search">
                <input type="search" placeholder="Search" class="header__input">
                <i class='bx bx-search header__icon'></i>
            </div>

            <partial name="_LoginPartial" />

            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>

    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="#" class="nav__link nav__logo">
                    <img src="~/logo.png" alt="Logo" class="nav__icon" />
                    <span class="nav__logo-name text-nowrap">Github Gamified</span>
                </a>
                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Home</h3>
                        <a href="#" class="nav__link active">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name" asp-area="" asp-controller="Home" asp-action="Index">Home</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class='bx bx-compass nav__icon'></i>
                            <span class="nav__name">Explore</span>
                        </a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-user nav__icon'></i>
                                    <span class="nav__name">Profile</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>
                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Passwords</a>
                                        <a href="#" class="nav__dropdown-item">Mail</a>
                                        <a href="#" class="nav__dropdown-item">Accounts</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="nav__link">
                                <i class='bx bx-message-rounded nav__icon'></i>
                                <span class="nav__name">Messages</span>
                            </a>
                        }
                    </div>
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Menu</h3>
                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Notifications</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>
                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a href="#" class="nav__dropdown-item">Blocked</a>
                                    <a href="#" class="nav__dropdown-item">Silenced</a>
                                    <a href="#" class="nav__dropdown-item">Publish</a>
                                    <a href="#" class="nav__dropdown-item">Program</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="nav__link">
                            <i class='bx bx-bookmark nav__icon'></i>
                            <span class="nav__name">Saved</span>
                        </a>
                    </div>
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="nav__link nav__logout form-inline">
                    <i class='bx bx-log-out nav__icon'></i>
                    <button class="nav__name" type="submit" >Log Out</button>
                </div>
            }
        </nav>
    </div>

    <hr style="margin: 2%; width: 0;"/>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GithubGamified - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
