@page "/"

<div class="card text-center">
    <h5 class="card-header"><strong> Welcome to GitHub Gamified </strong></h5>
    <div class="card-body">
        This is an open source project that pretends to use <a href="https://github.com">GitHub</a> as a game, using level systems, ranks, and many other things.
        <br>
        If you are interested feel free to collab with a pull request to the <a href="https://github.com/LucasBois1/GitHubGamified">GitHub repo</a>, this app is made in <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor C#</a>.
    </div>
</div>
